<div class="logo">
    <img src={{ asset('build/images/logo.png') }} alt="logo">
</div>
<ul>
	<li><a href="">Panel</a></li>
	<li><a href={{ path('admin_categories') }} class={{ app.request.get('_route') == 'admin_categories' ? 'active' : ''  }}>Categories</a></li>
	<li><a href={{ path('admin_manufacturers') }} class={{ app.request.get('_route') == 'admin_manufacturers' ? 'active' : ''  }}>Manufacturers</a></li>
	<li><a href={{ path('admin_products') }} class={{ app.request.get('_route') == 'admin_products' ? 'active' : ''  }}>Products</a></li>
</ul>
