{{ form_start(form, {attr: {class: 'js-filter-form'}}) }}
    {{form_row(form.q)}}
    <h4>Categories</h4>
    {{form_row(form.categories)}}
    <h4>Manufacturer</h4>
    {{form_row(form.manufacturer)}}
    <h4>Minimum price</h4>
    {{form_row(form.minPrice)}}
    <h4>Maximum price</h4>
    {{form_row(form.maxPrice)}}
    <button type="submit">Filter</button>
{{form_end(form)}}
