<div class="card" id="product-{{product.id}}">
	<div class="card-header">
		<h3 class="title">{{product.name}}</h3>
	</div>
	<div
		class="card-body">
		{# <img src={{ asset('uploads/images/' ~ product.image) }} alt=""> #}
		{% if product.image is same as null %}
			<img src="https://via.placeholder.com/210x150.jpg" alt="">
		{% else %}
			<img src={{product.image}} alt="image - {{product.name}}">
		{% endif %}
		<p class="price">
			<strong>€{{product.price}}</strong>
		</p>
		<p class="description">{{product.description}}</p>
		<p class="categories">
			{% for category in product.categories %}
				<em>#{{category}}</em>
			{% endfor %}
		</p>
	</div>
</div>
