{% if pagination.getTotalItemCount < 1 %}
	<div class="not-found" id="not-found">
		<h3>No products found, please try again.</h3>
	</div>
	{# <p class="not-found">No products found, please try again!</p> #}
{% else %}
	{% for product in pagination %}
		{{ include('client/main/_product.html.twig') }}
	{% endfor %}
{% endif %}
