{% extends 'client/base.html.twig' %}

{% block title %}Hello MainController!
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	{{ encore_entry_link_tags('index') }}
{% endblock %}

{% block body %}
	<aside>
		<h2>Filters</h2>
		{{ include('client/main/_filter.html.twig') }}
	</aside>
	<main>
		<div class="column">
			<div class="sorting js-filter-sorting">
				{{ include('client/main/_sorting.html.twig') }}
			</div>
			<div class="loader-bg js-loader">
				<div class="loader"></div>
			</div>
			<div class="products js-filter-content">
				{{ include('client/main/_products.html.twig') }}
			</div>
		</div>
		<div class="pagination-container js-filter-pagination">
			{{ include('client/main/_pagination.html.twig') }}
		</div>
	</main>
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	{{ encore_entry_script_tags('filter-products') }}
{% endblock %}
