<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>
		{# Run `composer require symfony/webpack-encore-bundle` and uncomment the following Encore helpers to start using Symfony UX #}
		{% block stylesheets %}
			{{ encore_entry_link_tags('app-admin') }}
		{% endblock %}

		{% block javascripts %}
			{{ encore_entry_script_tags('app-admin') }}
		{% endblock %}
	</head>
	<body>
		<div id="app">
			<aside>
				{{ include('admin/inc/_nav.html.twig') }}
			</aside>
			<div class="container"> 
				{% block body %}{% endblock %}
			</div>
		</div>
	</body>
</html>
