/* colors */
@import '../../common/styles/colors';

.slider {
    >.noUI-target .noUI-ltr .noUI-horizontal .noUI-txt-dir-ltr {
        .noUI-base {
            .noUI-connects {
                .noUI-connect {
                    background-color: lightblue;
                }
            }
        }
    }
}