/* fonts: 'Lato', 'Raleway' */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&family=Raleway:wght@400;700;900&display=swap');

/* colors: */
@import '../../common/styles/colors';


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    min-height: 100vh;
    min-width: 100%;

    body {
        min-height: inherit;
        min-width: inherit;
        color: $black;

        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            font-family: 'Lato', sans-serif;
        }

        div,
        p,
        input,
        button,
        select,
        a {
            font-family: 'Raleway', sans-serif;
        }

        a {
            text-decoration: none;
            color: $black;
        }

        button {
            cursor: pointer;
            border: none;
            padding: .75rem;
            border-radius: 5px;
            background-color: $lightSkyBlue;
            color: #fff;
            box-shadow: 2px 2px 10px -8px $black, 0px 0px 10px -8px $black;
            transition: all ease .3s;
            font-size: .9em;
            letter-spacing: .05em;

            &:hover {
                background-color: #81cfffd7;
                box-shadow: 0 0 10px -8px #333333,
                    inset 0px 2px 10px -7px #33333317,
                    inset 0 -2px 10px -7px #33333317;
                text-shadow: 1px 1px 12px #3333335e;
            }
        }

        >#app {
            min-width: inherit;
            min-height: inherit;
            display: flex;
            flex-direction: row;

            h2 {
                color: $honoluluBlue;
            }

            >aside {
                min-width: 14rem;
                max-width: 17rem;
                background-color: $starCommandBlue;
                z-index: 1;
                box-shadow: 2px 1px 10px -7px #333;

                >.logo {
                    >img {
                        max-width: 100%;
                    }
                }

                >ul {
                    display: flex;
                    flex-direction: column;
                    list-style-type: none;
                    padding: 1rem;

                    >li {
                        margin: .5rem 0;

                        >a {
                            color: $white;

                            &.active {
                                font-weight: 700;
                            }
                        }
                    }
                }
            }

            >.container {
                width: 100%;
                display: flex;
                flex-direction: column;
                margin-bottom: 2rem;
                position: relative;
            }
        }
    }
}