.form-container {
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    min-width: 60%;
    max-width: 80%;
    border-radius: 1rem;
    box-shadow: 0 0 10px -7px;
    padding: 2rem;

    >.description {
        margin-right: 4rem;

        >h2 {
            margin-bottom: .2em;
        }

        >p {
            margin-bottom: 1rem;
        }
    }

    >form {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex: 1;
        min-width: 50%;

        .form-input {
            min-width: 100%;
            display: flex;
            flex-direction: column;

            >label {
                margin-bottom: .5rem;

                &::after {
                    content: ' :';
                }
            }

            >div {
                margin-bottom: .5rem;
                >input, >textarea, >select {
                    width: 100%;
                    box-shadow: 0 0 10px -8px #333;
                    border: 1px solid #33333317;
                    border-radius: 5px;
                    padding: .3rem;

                    &:focus-visible {
                        outline: none;
                        box-shadow: inset 0 0 10px -8px #333;
                    }
                }

                >textarea, >select[multiple="multiple"] {
                    min-height: 6rem;
                }
            }
        }

        .form-submit {
            display: flex;
            flex-direction: column;
            align-items: flex-end;

            >div {
                margin-top: .5rem;
            }
        }
    }
}