/* colors: */
@import '../../../common/styles/colors';
/* pagination */
@import '../../../common/styles/pagination';
/* loader */
@import '../../../common/styles/loader';
/* noUISlider */
@import '../slider';

// messages
.flash-success,
.flash-warning,
.flash-error {
    padding: 1rem;
    position: absolute;
    z-index: 1;
    width: 25%;
    height: fit-content;
    margin: 4rem auto 0 auto;
    border-radius: 2rem;
    text-align: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    box-shadow: 0 2px 10px -8px $black;
}

.flash-success {
    background-color: $success;
}

.flash-warning {
    background-color: $warning;
    color: $white;
}

.flash-error {
    background-color: $error;
    color: $white;
}

header {
    min-height: 10.7rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;

    >.title {
        margin-left: 2rem;
        margin-bottom: 2rem;

        >h2 {
            margin-bottom: .5rem;
        }
    }

    >.new {
        margin-right: 2rem;
        margin-bottom: 2rem;

        >button {
            >a {
                font-weight: 600;
                font-family: 'Lato', sans-serif;
                color: $white;
                text-transform: uppercase;
            }
        }
    }

    &.products {
        justify-content: space-between;
        margin-bottom: 0;
    }

    &.products,
    &.categories {
        >.new {
            margin-left: 3rem;
        }
    }

    &.manufacturers {
        >.new {
            margin-left: 5rem;
        }
    }

}

// styles
main {
    margin: auto;
    display: flex;
    justify-content: space-between;
    // align-items: center;
    padding: 2rem;
    box-shadow: 0 0 10px -7px $black;
    border-radius: 1.25rem;
    background-color: #33333305;
    position: relative;

    &.products {
        min-width: 80rem;
        flex-direction: row;
        min-height: 709px;

        >.filter-form {
            min-width: 20%;

            >form {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                height: 100%;

                >.filter-input {
                    min-width: 100px;

                    &.category {
                        >div>#categories {
                            display: grid;
                            grid-template-columns: 20px 1fr;
                            align-items: center;
                        }
                    }

                    >.form-label {
                        font-weight: 600;
                        color: $starCommandBlue;
                    }

                    >div {
                        margin-top: 1rem;

                        >select,
                        >input {
                            width: 100%;
                            border: 1px solid #33333317;
                            box-shadow: 0 0 10px -8px $black;
                            border-radius: 5px;
                            padding: .4rem;

                            &:focus-visible {
                                outline: none;
                                box-shadow: inset 0 0 10px -8px $black;
                            }
                        }

                        >input {
                            padding: .5rem;
                        }
                    }

                    >div.slider {
                        margin-top: 1rem;
                        position: relative;

                        >div {
                            margin: auto;
                        }

                        &::before,
                        &::after {
                            position: absolute;
                            bottom: -1.5rem;
                            font-size: .9em;
                        }

                        &::before {
                            left: -.5rem;
                            content: attr(data-min);
                        }

                        &::after {
                            right: -.5rem;
                            content: attr(data-max);
                        }

                        &.stock {
                            &::before {
                                left: 0;
                            }

                            &::after {
                                right: 0;
                            }
                        }
                    }

                }

                >.filter-submit {
                    display: flex;
                    margin-top: 1rem;
                    justify-content: center;
                    align-content: center;

                    >button {
                        width: 100%;
                    }
                }
            }
        }

        >.pagination-container {
            >.pagination {
                margin: auto;
            }
        }
    }

    >.column-container {
        display: flex;
        flex-direction: column;

        &.products {
            // margin: auto 4rem;
            min-width: 65%;
        }

        &.manufacturers {
            min-width: 30rem;

        }

        &.categories {
            min-width: 36rem;
        }

        >.search {
            width: 100%;
            display: flex;
            align-items: center;
            position: relative;
            margin: auto;
            margin-top: 0;
            margin-bottom: 2rem;

            >form {
                width: 100%;

                >div {
                    >input {
                        width: 100%;
                        padding: .6rem;
                        font-size: 1em;
                        border: none;
                        box-shadow: 0 0 10px -7px $black;
                        border-radius: 1rem;

                        &:focus-visible,
                        &:focus-within,
                        &:active {
                            outline: none;
                            box-shadow: inset 0px 1px 10px -8px $black;
                        }
                    }
                }
            }

            >.search-icon {
                position: absolute;
                right: 1rem;
                color: #333;
                opacity: .25;
            }
        }

        >.content-container {
            width: 100%;
            margin: auto;

            >#nf-message {
                text-align: center;
                color: $errorLight;
            }

            >table {
                background-color: $white;
                border-collapse: collapse;
                width: 100%;
                border-radius: 0.25rem;
                box-shadow: 0px 2px 10px -5px #33333327, 0px -2px 10px -5px #33333327;
                overflow: hidden;

                >thead>tr>th,
                >tbody>tr>td {
                    padding: 1rem;
                    text-align: center;
                    vertical-align: middle;
                }

                >thead {
                    background-color: $honoluluBlue;
                    border: none;

                    >tr {
                        >th {
                            color: $white;

                            &:not(:last-of-type) {
                                border-right: 1px solid #fffefe87;
                            }

                            >a {
                                color: $white;
                            }
                        }
                    }
                }

                >tbody {
                    >tr {
                        // cursor: pointer;

                        &:not(:last-of-type) {
                            border-bottom: 1px solid #33333338;
                        }

                        >td {
                            &:not(:last-of-type) {
                                border-right: 1px solid #33333338;
                            }

                            >.actions {
                                min-width: fit-content;
                                margin: auto;
                                display: flex;
                                flex-direction: row;
                                justify-content: space-evenly;
                                align-items: center;

                                .btn {
                                    min-width: fit-content;
                                    background-color: $error;
                                    padding: .3rem .5rem;

                                    svg {
                                        font-size: .8rem;
                                    }

                                    >a {
                                        color: $white;
                                        margin: 0;
                                        padding: 0;
                                    }

                                    &:hover {
                                        background-color: $errorLight;
                                    }

                                    &.btn-delete {
                                        background-color: $error;

                                        &:hover {
                                            background-color: $errorLight;
                                        }
                                    }

                                    &.btn-edit {
                                        background-color: $warningLight;

                                        &:hover {
                                            background-color: $warning;
                                        }
                                    }

                                    &.btn-show {
                                        background-color: $starCommandBlue;

                                        &:hover {
                                            background-color: $starCommandBlueLight;
                                        }
                                    }
                                }
                            }
                        }

                        &:hover {
                            background-color: $transparentGrey;

                            >td:first-of-type {
                                font-weight: 600;
                            }
                        }
                    }
                }
            }

        }
    }



    >.pagination-container {
        display: flex;

        >.pagination {
            margin: auto 0 auto 2rem;

            >span {
                margin: .5rem auto;
            }
        }

    }
}