/* fonts: 'Lato', 'Raleway' */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&family=Raleway:wght@400;700;900&display=swap');
@import '@fortawesome/fontawesome-free/scss/solid.scss';

/* colors: */
@import '../../common/styles/colors';



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    min-height: 100vh;
    min-width: 100%;

    body {
        min-height: inherit;
        min-width: inherit;
        color: rgba(17, 24, 39, 1);

        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            font-family: 'Lato', sans-serif;
        }

        div,
        p,
        input,
        button,
        select,
        a,
        span {
            font-family: 'Raleway', sans-serif;
        }

        p,
        h1,
        h2,
        h3,
        label {
            word-wrap: break-word;
        }

        a {
            text-decoration: none;
            color: $black;
        }

        button {
            cursor: pointer;
            border: none;
            padding: .75rem;
            border-radius: 5px;
            background-color: $lightSkyBlue;
            color: #fff;
            box-shadow: 2px 2px 10px -8px $black, 0px 0px 10px -8px $black;
            transition: all ease .3s;
            font-size: .9em;
            letter-spacing: .05em;

            &:hover {
                background-color: #81cfffd7;
                box-shadow: 0 0 10px -8px #333333,
                    inset 0px 2px 10px -7px #33333317,
                    inset 0 -2px 10px -7px #33333317;
                text-shadow: 1px 1px 12px #3333335e;
            }
        }

        >#app {
            min-width: inherit;
            min-height: inherit;
            display: flex;
            flex-direction: row;
        }
    }
}