<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>
		{# Run `composer require symfony/webpack-encore-bundle`
						           and uncomment the following Encore helpers to start using Symfony UX #}
		{% block stylesheets %}
			{{ encore_entry_link_tags('app-client') }}
		{% endblock %}

        {% block javascripts %}
			{{ encore_entry_script_tags('app-client') }}
		{% endblock %}
	</head>
	<body>
		<div id="app"> 
            {% block body %}{% endblock %}
		</div>
	</body>
</html>
