{% if pagination.getTotalItemCount < 1 %}
	{{ include('admin/inc/_not-found.html.twig', {id: 'not-found'}) }}
{% else %}
	<table>
		<thead>
			<tr id="table-header" class="js-filter-sorting">
				<th>id</th>
				<th>name</th>
				<th>actions</th>
			</tr>
		</thead>
		<tbody>
			{% for manufacturer in pagination %}
				<tr id="manufacturer-{{manufacturer.id}}">
					<td>{{manufacturer.id}}</td>
					<td>{{manufacturer.name}}</td>
					<td>
						<div class="actions">
							<button class="btn btn-show">
								<a href={{ path('admin_manufacturer_show', {slug: manufacturer.slug} )}}>
									<i class="far fa-eye"></i>
								</a>
							</button>
							<button class="btn btn-edit">
								<a href={{ path('admin_manufacturer_edit', {slug: manufacturer.slug} )}}>
									<i class="fas fa-pencil-alt"></i>
								</a>
							</button>
							{{ include('admin/manufacturer/_delete.html.twig') }}
						</div>
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% endif %}
