<form action={{ path('admin_manufacturer_delete', {slug: manufacturer.slug} )}} method="POST">
	<input type="hidden" name="_token" value={{ csrf_token('delete' ~ manufacturer.slug) }}>
	<button class="btn btn-delete" type="submit">
		<i class="fas fa-trash"></i>
	</button>
</div></form>
