{{form_start(form)}}
<div class="form-input">
	<label class="form-label" for="">Name</label>
	{{form_row(form.name)}}
</div>
<div class="form-submit">
	{{form_row(form.submit)}}
</div>
{{form_end(form)}}
