{% extends 'admin/base.html.twig' %}

{% block title %}Hello ProductController!
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	{{ encore_entry_link_tags('admin-index') }}
{% endblock %}

{% block body %}
	{{ include('admin/inc/_message.html.twig') }}
	{# template #}
	<header class="manufacturers">
		<div class="title">
			<h2>Manufacturers</h2>
			<div class="js-filter-totalFound">
				{{ include('admin/manufacturer/_total-found.html.twig') }}
			</div>
		</div>
		<div class="new">
			<button>
				<a href={{path('admin_manufacturer_new')}}>Add new</a>
			</button>
		</div>
	</header>
	<main>
		<div class="loader-bg js-loader">
			<div class="loader"></div>
		</div>
		<div class="column-container manufacturers">
			<div class="search">
				{{ form_start(form, {attr: {class: 'js-filter-form'}}) }}
				{{ form_row(form.q, {attr: {placeholder: 'Search manufacturer'}}) }}
				{{ form_end(form) }}
				<div class="search-icon">
					<i class="fas fa-search"></i>
				</div>
			</div>
			{# <div class="sorting js-filter-sorting">
				{{ include('admin/manufacturer/_sorting.html.twig') }}
			</div> #}
			<div class="content-container js-filter-content">
				{{ include('admin/manufacturer/_content.html.twig') }}
			</div>
		</div>
		<div class="pagination-container js-filter-pagination">
			{{ include('admin/inc/_pagination.html.twig') }}
		</div>
	</main>
{% endblock %}
