{% extends 'admin/base.html.twig' %}

{% block title %}Hello ManufacturerController!
{% endblock %}

{% block body %}
	<div>Admin ManufacturerController</div>
    <pre>
        {{ dump(manufacturer) }}
    </pre>
{% endblock %}
