{% if pagination.getTotalItemCount < 1 %}
	{{ include('admin/inc/_not-found.html.twig', {id: 'not-found'}) }}
{% else %}
	<table>
		<thead>
			<tr id="categories-header">
				<th data-target="sort-by-id">id</th>
				<th data-target="sort-by-name">name</th>
				<th>actions</th>
			</tr>
		</thead>
		<tbody>
			{% for category in pagination %}
			<tr id="category-{{category.id}}">
				<td>{{category.id}}</td>
				<td>{{category.name}}</td>
				<td>
					<div class="actions">
						<button class="btn btn-show">
							<a href={{ path('admin_category_show', {slug: category.slug} )}}>
								<i class="far fa-eye"></i>
							</a>
						</button>
						<button class="btn btn-edit">
							<a href={{ path('admin_category_edit', {slug: category.slug} )}}>
								<i class="fas fa-pencil-alt"></i>
							</a>
						</button>
						{{ include('admin/category/_delete.html.twig') }}
					</div>
				</td>
			</tr>
		{% endfor %}
		</tbody>
	</table>
{% endif %}