<form action={{ path('admin_category_delete', {slug: category.slug} )}} method="POST">
	<input type="hidden" name="_token" value={{ csrf_token('delete' ~ category.slug) }}>
	<button class="btn btn-delete" type="submit">
		<i class="fas fa-trash"></i>
	</button>
</form>
