{% extends 'admin/base.html.twig' %}

{% block title %}Hello CategoryController!
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	{{ encore_entry_link_tags('form') }}
{% endblock %}

{% block body %}
	<div class="form-container">
		<div class="description">
			<h2>Add category</h2>
			<p>Fill in the form to add new categories</p>
		</div>
		{{ include('admin/category/_form.html.twig') }}
	</div>
{% endblock %}
