{% extends 'admin/base.html.twig' %}

{% block title %}Hello CategoryController!{% endblock %}

{% block body %}
    <div>Admin CategoriesController show</div>
    <pre>
        {{ dump(category) }}
    </pre>
{% endblock %}