{% if nbPage > 1 %}
	<div class="pagination">
		{% for i in 1..nbPage %}
			<button type="button" class="btn btn-paginate {{ app.request.attributes.get('page') == i ? 'active' : '' }}">
				<a href={{ path(app.request.get('_route'), {page: i} ) }}>
					{{i}}
				</a>
			</button>
		{% endfor %}
	</div>
{% endif %}
