/* colors: **/
$honoluluBlue: #126EAB;
$starCommandBlue: #157FC4;
$starCommandBlueLight: #249BE8;
$lightSkyBlue: #81CEFF;
$lightSkyBlueLight: #96D7FF;
$uranianBlue: #C2E2FD;

$black: #333333;
$white: #FFFFFF;
$lightGrey: #f8f8f8;
$transparentGrey: #93939314;

$success: #b7ff96;
$warningLight: #FFB281;
$warning: #FF934E;
$error: #C41515de;
$errorLight: #E82424;