.loader-bg {
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 60px;
    height: 60px;
    z-index: 5;

    .loader {
        border: 8px solid lightgrey;
        border-top: 8px solid grey;
        filter: drop-shadow(0px 0px 3px #33333342);
        border-radius: 50%;
        width: 60px;
        height: 60px;
        margin: auto;
        animation: spin 2s linear infinite;

        @keyframes spin {
            from {
                transform: rotate(0deg);
            }

            to {
                transform: rotate(360deg);
            }
        }
    }
}

.is-loading::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: $white;
    opacity: .3;
    z-index: 1;
}