.pagination {
    margin: auto;

    >.btn.btn-paginate {
        width: 2.5rem;
        height: 2.5rem;
        margin: 0 .25rem;
        background-color: #33333317;
        box-shadow: 0 0px 10px -8px #333333a1, inset 0 0 0;
        transition: all ease .5s;
        padding: 0;

        >a {
            width: inherit;
            height: inherit;
            display: block;
            line-height: 2.5rem;
        }

        &:hover,
        &.active {
            background-color: #33333305;
            box-shadow: 0 0 0, inset 0 2px 10px -8px #333333a1;
        }
    }

    >span {
        display: block;
        width: 2.5rem;
        height: 2.5rem;
        margin: .5rem;
        cursor: pointer;
        border: none;
        border-radius: 5px;
        color: #333;
        font-size: .8em;
        font-weight: 700;
        text-align: center;
        line-height: 2.5rem;
        background-color: #33333317;
        box-shadow: 0 0px 10px -8px #333333a1, inset 0 0 0;


        >a {
            width: inherit;
            height: inherit;
            display: block;
            line-height: 2.5rem;
        }

        &.current,
        &:hover,
        &.active {
            background-color: #33333305;
            box-shadow: 0 0 0, inset 0 2px 10px -8px #333333a1;
        }
    }

    >.current {
        background-color: #33333305;
        box-shadow: 0 0 0, inset 0 2px 10px -8px #333333a1;
    }

    >.first,
    >.next,
    >.previous,
    >.last {
        >a {
            >svg {
                transform: rotate(90deg);
            }
        }
    }

    // first, previous, next, last
}