{% if pagination.getTotalItemCount < 1 %}
	{{ include('admin/inc/_not-found.html.twig', {id: 'not-found'}) }}
{% else %}
	<table>
		<thead>
			<tr id="table-header">
				<th>id</th>
				<th>name</th>
				<th>price</th>
				<th>stock</th>
				<th>actions</th>
			</tr>
		</thead>
		<tbody>
			{% for product in pagination %}
				{{ include('admin/product/_product.html.twig') }}
			{% endfor %}
		</tbody>
	</table>
{% endif %}
