<form action={{ path('admin_product_delete', {slug: product.slug} )}} method="POST">
	<input type="hidden" name="_token" value={{ csrf_token('delete' ~ product.slug) }}>
	<button class="btn btn-delete" type="submit">
		<i class="fas fa-trash"></i>
	</button>
</form>
