{{ form_start(form, {attr: {class: 'js-filter-form'}}) }}
<h2>Filter products</h2>
<div class="filter-input">
	<label for="" class="form-label">Manufacturer</label>
	{{ form_row(form.manufacturer) }}
</div>
<div class="filter-input category">
	<label for="" class="form-label">Category</label>
	{{ form_row(form.categories) }}
</div>
<div class="filter-input">
	<label for="" class="form-label">Price</label>
	<div class="slider" data-min={{minmaxP[0]}} data-max={{minmaxP[1]}}>
		{{ form_row(form.minPrice) }}
		{{ form_row(form.maxPrice) }}
		<div id="price-slider"></div>
	</div>
</div>
<div class="filter-input">
	<label for="" class="form-label">Stock</label>
	<div class="slider stock" data-min={{minmaxS[0]}} data-max={{minmaxS[1]}}>
		{{ form_row(form.minStock) }}
		{{ form_row(form.maxStock) }}
		<div id="stock-slider"></div>
	</div>
</div>
<div class="filter-submit">
	<button type='submit'>Filter</button>
</div>
{{ form_end(form) }}
