{{form_start(form)}}
<div class="form-input">
	<label class="form-label" for="">Name</label>
	{{form_row(form.name)}}
</div>
<div class="form-input">
	<label class="form-label" for="">Price</label>
	{{form_row(form.price)}}
</div>
<div class="form-input">
	<label class="form-label" for="">Stock</label>
	{{form_row(form.stock)}}
</div>
<div class="form-input">
	<label class="form-label" for="">Manufacturer</label>
	{{form_row(form.manufacturer)}}
</div>
<div class="form-input">
	<label class="form-label" for="">Categories</label>
	{{form_row(form.categories)}}
</div>
<div class="form-input">
	<label for="" class="form-label">Description</label>
	{{form_row(form.description)}}
</div>
<div class="form-input">
	<label class="form-label" for="">Image</label>
	{{form_row(form.image)}}
</div>
<div class="form-submit">
	{{form_row(form.submit)}}
</div>
{{form_end(form)}}
