<tr id="product-{{product.id}}">
	<td>{{product.id}}</td>
	<td>{{product.name}}</td>
	<td>€{{product.price}}</td>
	<td>{{product.stock}}</td>
	<td>
		<div class="actions">
			<button class="btn btn-show">
				<a href={{ path('admin_product_show', {slug: product.slug} )}}>
					<i class="far fa-eye"></i>
				</a>
			</button>
			<button class="btn btn-edit">
				<a href={{ path('admin_product_edit', {slug: product.slug} )}}>
					<i class="fas fa-pencil-alt"></i>
				</a>
			</button>
			{{ include('admin/product/_delete.html.twig') }}
		</div>
	</td>
</tr>
