{{ knp_pagination_sortable(pagination, 'id', 'p.id', {id: 'sort-by-id'} ) }}
{{ knp_pagination_sortable(pagination, 'name', 'p.name', {id: 'sort-by-name'} ) }}
{{ knp_pagination_sortable(pagination, 'price', 'p.price', {id: 'sort-by-price'} ) }}
{{ knp_pagination_sortable(pagination, 'stock', 'p.stock', {id: 'sort-by-stock'} ) }}