{% extends 'admin/base.html.twig' %}

{% block title %}Hello ProductController!
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	{{ encore_entry_link_tags('admin-index') }}
{% endblock %}

{% block body %}
	{{ include('admin/inc/_message.html.twig') }}
	{# template #}
	<header class="products">
		<div class="title">
			<h2>Products</h2>
			<div class="js-filter-totalFound">
				{{ include('admin/product/_total-found.html.twig') }}
			</div>
		</div>
		<div class="new">
			<button>
				<a href={{path('admin_product_new')}}>Add new</a>
			</button>
		</div>
	</header>
	<main class="products">
		<div class="loader-bg js-loader">
			<div class="loader"></div>
		</div>
		<div class="column-container products">
			<div class="search">
				<form method="get">
					<div>
						{{ form_widget(form.q, {attr: {placeholder: 'Search product', class: 'js-q-input'} } )}}
					</div>
				</form>
				<div class="search-icon">
					<i class="fas fa-search"></i>
				</div>
			</div>
			{# <div class="sorting js-filter-sorting">
				{{include('admin/product/_sorting.html.twig')}}
			</div> #}
			<div class="content-container js-filter-content">
				{{ include('admin/product/_content.html.twig') }}
			</div>
		</div>
		<div class="filter-form">
			{{ include('admin/product/_filter.html.twig') }}
		</div>
		<div class="pagination-container js-filter-pagination">
			{{ include('admin/inc/_pagination.html.twig') }}
		</div>
	</main>
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	{{ encore_entry_script_tags('admin-filter-products') }}
{% endblock %}
