{% extends 'admin/base.html.twig' %}

{% block title %}Hello ProductController!
{% endblock %}

{% block stylesheets %}
	{{parent()}}
	{{encore_entry_link_tags('form')}}
{% endblock %}

{% block body %}
	<div class="form-container">
		<div class="description">
			<h2>Add Product</h2>
			<p>Fill in the form to add new products.</p>
		</div>
		{{ include('admin/product/_form.html.twig')}}
	</div>
{% endblock %}
