{% extends 'admin/base.html.twig' %}

{% block title %}Hello ProductController!
{% endblock %}

{% block body %}
	<div>Admin ProductController</div>
	<pre>
        {{ dump(product) }}
    </pre>
{% endblock %}