/* colors: */
@import '../../../common/styles/colors';
/* pagination: */
@import '../../../common/styles/pagination';
/* loader */
@import '../../../common/styles/loader';
/* not-found */
@import '../../../common/styles/not-found';

#app {
    flex-wrap: wrap;

    >aside {
        // min-width: 21rem;
        position: relative;
        width: 18.5%;
        padding: 1rem 2rem;
        background-color: $lightGrey;
        box-shadow: 2px 0 10px -8px $black;

        >h2 {
            color: $honoluluBlue;
        }

        >form {
            >div {
                padding: 1rem;

                >input,
                >select {
                    width: 100%;
                    box-shadow: 0 0 10px -8px $black;
                    border: 1px solid #33333317;
                    border-radius: 5px;
                    padding: .5rem;

                    &:focus-visible {
                        outline: none;
                        box-shadow: inset 0 0 10px -8px $black
                    }
                }

                >div {
                    &#categories {
                        display: grid;
                        grid-template-columns: 30px 1fr;

                        >label {
                            display: block;
                            margin: auto 0;
                        }

                        >input[type="checkbox"] {
                            background-color: $white;
                            position: relative;
                            box-shadow: 0 0 10px -8px $black;
                            border: 1px solid #33333317;
                            width: 20px;
                            margin: .2rem;
                            height: 20px;
                            border-radius: 5px;
                            appearance: inherit;

                            &:checked,
                            &:focus-visible {
                                outline: none;
                                box-shadow: inset 0 0 10px -7px $black;

                                &::before {
                                    font-family: 'Font Awesome 5 Free';
                                    content: '\f00c';
                                    font-weight: 900;
                                    position: absolute;
                                    text-align: center;
                                    left: 0;
                                    right: 0;
                                    bottom: 0;
                                    line-height: 20px;
                                }
                            }
                        }
                    }
                }
            }

            >button {
                display: block;
                margin: auto;
                margin-top: 1rem;
                width: 90%;
            }
        }
    }

    >main {
        width: 100%;
        // min-width: 55rem;
        margin: auto;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        padding-top: .5rem;
        padding-bottom: 1.25rem;
        flex: 1;
        position: relative;

        .column {
            display: flex;
            flex-direction: column;
            flex: 1;
            // width: 95%;

            >.sorting {
                // width: 82.5%;
                width: 90%;
                margin-bottom: 1rem;

                >a {
                    display: block;
                    margin-left: auto;
                    width: fit-content;
                    background-color: grey;
                    padding: .5rem 1rem;
                    color: white;
                    border-radius: .25rem;
                    box-shadow: 0px 1px 10px -7px #333;
                    transition: all ease .5s;

                    &:hover {
                        background-color: rgba(128, 128, 128, 0.849);
                    }
                }
            }

            >.products {
                background-color: #33333309;
                box-shadow: 1px 2px 10px -8px $black;
                padding: 1rem;
                border-radius: 1rem;
                // width: 65%;
                width: 80%;
                min-width: inherit;
                margin: 0 auto;
                display: flex;
                flex-wrap: wrap;

                >.card {
                    background-color: $white;
                    box-shadow: 0 0 10px -8px $black;
                    // background-color: #33333309;
                    padding: 1rem;
                    margin: .5rem;
                    flex: 1;
                    min-width: 18rem;
                    max-width: 100%;
                    border-radius: 1rem;
                    // box-shadow: 0 0 10px -6px $black;

                    >.card-header,
                    .card-body>.price,
                    .card-body>.description,
                    .card-body>.categories {
                        margin-bottom: 1rem;
                    }

                    >.card-header {
                        text-align: center;
                        margin-top: .5rem;
                    }

                    >.card-body {
                        >img {
                            display: block;
                            max-width: 100%;
                            // max-height: 15rem;
                            // min-height: 15rem;
                            margin: 1.25rem auto;
                            border-radius: .25rem;
                            box-shadow: 0 2px 10px -5px $black;
                        }

                        >.price {
                            color: $honoluluBlue;
                            text-align: right;
                            font-size: 1.2em;
                        }

                        >.description {
                            text-align: justify;
                        }

                        >.categories {
                            text-align: center;
                            font-size: .8em;
                        }
                    }
                }
            }
        }



        >.pagination-container {
            margin: auto 1rem auto auto;
            
            >.pagination {
                >.btn.btn-paginate {
                    margin: .5rem .25rem;
                }
            }
        }
    }
}